* {

  border-top: 1px solid rgba(197, 197, 197, 0.652);
  background: #9da5bd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e1e6ef,
    #9da5bd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e1e6ef,
    #9da5bd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #667cb5;
}
